# Different methods to create a dataframe in pandas

In [1]:
import pandas as pd

In [4]:
pd.DataFrame({'id':['ron','shaoun'],'marks':['0','1']},index=[1,2])

       id marks
1     ron     0
2  shaoun     1

In [5]:
pd.DataFrame([['ron','0'],['shaoun','1']],columns=['id','marks'])

       id marks
0     ron     0
1  shaoun     1

In [6]:
import numpy as np

In [8]:
arr=np.random.rand(4,2)
arr

array([[0.46637659, 0.13297843],
       [0.21968955, 0.43399871],
       [0.47120564, 0.07720322],
       [0.17778676, 0.10234239]])

In [9]:
pd.DataFrame(arr,columns=['id','marks'])

         id     marks
0  0.466377  0.132978
1  0.219690  0.433999
2  0.471206  0.077203
3  0.177787  0.102342